version: '3.5'
volumes: 
  data: 

services: 
  database:
    image: postgres:12
    ports: 
      - 15432:5432
    environment:
      - POSTGRES_PASSWORD=@YourPassword123
    volumes:
      - data:/var/lib/postgresql/data
      - type: tmpfs
        target: /dev/shm
